body {
  height: 95vh;
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(182, 134, 194);
  color: rgb(97, 24, 3);
  font-family: 'Bubblegum Sans', cursive;
}
